$utilities: map-merge($theme-colors,
  ("fill": (property: fill,
      class: fill,
      state: hover,
      values:($theme-colors),
    ),
    "w-px": (property: width,
      class: w-px,
      values:(100:100px),
    ),
    "fs-rem": (property: font-size,
      class: fs-rem,
      values:(10:10rem),
    ),
  ));