<header class="py-3 py-md-6 mb-4 mb-md-8">
    <div class="container">
        <nav class="navbar navbar-expand-md d-flex p-0 position-relative ">
            <!-- logo -->
            <h1 class="m-0">
                <a class="navbar-brand" href="index.html">
                    <img class="mb-2" src="../assets/images/make_sound_logo.svg" alt=" Make Sound">
                </a>
            </h1>
            <!-- 搜尋 -->
            <!-- <form class="input-group mx-md-6 ms-md-12 position-absolute top-0 start-15 search" role="search">
                <input class="form-control py-2 py-md-4 " type="search" placeholder="探索活動" aria-label="Search">
                <button class="btn btn-dark text-secondary py-md-4 px-md-4" type="submit">
                    <i class="icofont-search-1 py-md-4"></i>
                </button>
            </form> -->

            <!-- 選單內容 -->
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mb-lg-0 ms-lg-17 navbar-nav-scroll">
                    <li class="nav-item me-6">
                        <a class="nav-link active fs-5" href="#">
                            排行榜
                        </a>
                    </li>
                    <li class="nav-item me-6">
                        <a class="nav-link active fs-5" href="#">
                            探索
                        </a>
                    </li>
                    <li class="nav-item me-6">
                        <a class="nav-link active fs-5" href="#">
                            名人堂
                        </a>
                    </li>
                    <li class="nav-item ms-lg-18">
                        <!-- <button class=" text-secondary py-md-4 px-md-4" type="submit">
                            
                        </button> -->
                        <span class="material-icons-outlined fs-1"> search </span>
                    </li>
                </ul>
            </div>
            <div class="ms-auto py-4 px-6 border border-2 border-primary rounded-4 text-primary fs-5" href="#">
                <a href="../pages/signIn.html" class="text-primary text-decoration-none">登入</a> / <a href="../pages/signUp.html" class="text-primary text-decoration-none">註冊</a>
            </div>
            <!-- 選單按鈕 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
</header>