<header class="py-3 py-md-6 mb-4 mb-md-8">
    <div class="container">
        <nav class="navbar navbar-expand-md d-flex p-0 position-relative ">
            <!-- logo -->
            <h1 class="m-0">
                <a class="navbar-brand" href="index.html">
                    <img class="mb-2" src="../assets/images/make_sound_logo.svg" alt=" Make Sound">
                </a>
            </h1>


            <!-- 選單內容 -->
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mb-lg-0 ms-lg-17 navbar-nav-scroll">
                    <li class="nav-item me-6">
                        <a class="nav-link fs-5 text-gray1 pb-0 link-underline-hover" href="../pages/ranking-list.html">
                            排行榜
                        </a>
                    </li>
                    <li class="nav-item me-6">
                        <a class="nav-link fs-5 text-gray1 pb-0 link-underline-hover" href="../pages/explore.html">
                            探索
                        </a>
                    </li>
                    <li class="nav-item me-6">
                        <a class="nav-link fs-5 text-gray1 pb-0 link-underline-hover" href="#">
                            名人堂
                        </a>
                    </li>
                    <li class="nav-item ms-lg-18">
                        <!-- <button class=" text-secondary py-md-4 px-md-4" type="submit">
                            
                        </button> -->
                        <span class="material-symbols-outlined fs-1"> search </span>
                    </li>
                </ul>
            </div>
            <button class="login-btn ms-auto decoration-none py-4 px-6 border border-2 border-primary  rounded-4 fs-5"
                href="#">
                登入 / 註冊
            </button>
            <!-- 選單按鈕 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
</header>