<div class="col-12 col-md-3 col-lg-2 d-none d-md-block">
    <div class="border border-1 rounded user-navbar p-4 pt-0">
        <div>
            <a class="text-decoration-none link-dark mt-4 active" href="../pages/myLove.html">我的收藏</a>
        </div>
        <div>
            <a class="text-decoration-none link-dark mt-4" href="../pages/myPlaylist.html">我的歌單</a>
        </div>
        <div>
            <a class="text-decoration-none link-dark mt-4" href="../pages/myFollow.html">我的追蹤</a>
        </div>
    </div>
</div>