<div class="col-12 col-md-3 col-lg-2 d-none d-md-block">
    <div class="border border-1 rounded user-navbar p-4 pt-0">
        <div>
            <a class="text-decoration-none link-dark mt-4 active" href="../pages/myAccount.html">基本資料</a>
        </div>
        <div>
            <a class="text-decoration-none link-dark mt-4" href="../pages/updatePwd.html">變更密碼</a>
        </div>
        <div>
            <a class="text-decoration-none link-dark mt-4" href="../pages/updateEmail.html">變更電子信箱</a>
        </div>
        <div>
            <a class="text-decoration-none link-dark mt-4" href="../pages/verifiedPhone.html">認證手機號碼</a>
        </div>
        <div>
            <a class="text-decoration-none link-dark mt-4" href="../pages/deleteAccount.html">刪除帳號</a>
        </div>
        <div>
            <a class="text-decoration-none link-dark mt-4" href="../pages/authorizedAuthor.html">成為音樂創作者</a>
        </div>
    </div>
</div>