<!DOCTYPE html>
<html lang="en">

<head>
    <title>成為音樂創作者 - Make Sound</title>

    <%- include('./layout/head'); -%>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container pb-3 pb-md-6 mb-4 mb-md-8">
            <div class="row">
                <div class="mb-10">
                    <h3 class="fw-bold">帳號設定</h3>
                    <hr>
                </div>

                <%- include('./layout/userNavbar'); -%>

                    <div class="col-12 col-md-9 col-lg-10">
                        <div class="px-4">
                            <h3 class="fw-bold">成為音樂創作者</span></h3>

                            <div class="mt-4 border border-1 p-10">
                                <div class="card border-0">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="../assets/images/card4.png" class="img-fluid rounded-pill"
                                                alt="人頭照">
                                        </div>
                                        <div class="col-10">
                                            <div class="card-body d-flex flex-column justify-content-center h-100">
                                                <h5 class="card-title fw-bold">Avery</h5>
                                                <p class="card-text">avery_108</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4"><!-- 2選一出現 -->
                                    <p>系統檢查中，是否符合驗證......</p>
                                    <p class="d-flex align-items-center">
                                        <span class="material-icons-outlined text-gray2 me-2">
                                            change_history
                                        </span>
                                        完善會員詳細資料
                                    </p>
                                    <p class="d-flex align-items-center">
                                        <span class="material-icons-outlined text-gray2 me-2">
                                            change_history
                                        </span>
                                        完成手機號碼認證
                                    </p>
                                    <p class="d-flex align-items-center">
                                        <span class="material-icons-outlined text-gray2 me-2">
                                            change_history
                                        </span>
                                        成為 Make Sound 會員超過 30 天
                                    </p>
                                </div>
                                <div class="mt-4"><!-- 2選一出現 -->
                                    <p class="m-0">申請成為音樂創作者的條件：</p>
                                    <ul>
                                        <li>完善會員詳細資料</li>
                                        <li>完成手機號碼認證</li>
                                        <li>成為 Make Sound 會員超過 30 天</li>
                                    </ul>
                                    <p>對驗證成為音樂創作者有任何需求或疑問，歡迎聯絡我們！</p>
                                </div>

                                <div class="mt-4">
                                    <a href="#" class="btn btn-primary px-6">聯絡我們</a>
                                    <a href="index.html" class="btn btn-outline-secondary px-6">返回首頁</a>
                                </div>

                            </div>

                        </div>

                    </div>
            </div>
        </div>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>